body, html{
    margin: 0;
    padding: 0;
}

header{
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
padding: 10px 340px;
}

header img{
    width: 250px;
    height: 30px;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    

}
nav a{
    text-decoration: none;
    color: gray;
    justify-content: space-evenly; 
    align-items: center;
    gap: 12px;
}

#Aboutus,
#Career:hover,
#Departments:hover{
    color: #25c9ae;   
}

/* end of header and nav*/

#first_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first_section img{
    width: 33px;
    height: 33px;
    margin-top: 55px;
}

#first_sectionHeading{
    color: #25c9ae;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 25px;
    font-weight: 300;
}

#first_sectionText{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #747474;
    font-size: 13px;
    display: flex;
    padding: 0px 200px;
}

/* end of section 1*/


.second_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#for_patients,
.for_doctors,
.for_clinics{
    border: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 230px;
    color: aliceblue;
    font-family: "Work Sans", Arial, sans-serif;
    padding: 20px;
}

#for_patients img,
.for_doctors img,
.for_clinics img{
width: 20px;
height: 30px;
margin-bottom: -50px;
}

#for_patients h6,
.for_doctors h6,
.for_clinics h6 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    }

#for_patients p,
.for_doctors p,
.for_clinics p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 70px;
}

#for_patients select,
.for_clinics select,
.for_doctors select {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: none;
    text-decoration: underline
}

#for_patients,
#for_patients select {
    background-color: #00ccb1;
}

.for_doctors,
.for_doctors select{
    background-color: #3d83df;
}

.for_clinics,
.for_clinics select{
    background-color: #1b2734;
}

/* end of section 2*/

.third_section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.logos{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    
    
}

.logos img{
    width: 50px;
    object-fit: contain;
}

.logos.containerText{
    display: flex;
    padding-right: 50px;
}